In [1]:
import acquire, split_scale
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.linear_model import LogisticRegression

1. Load the titanic dataset that you've put together from previous lessons.
2. Split your data into training and test.
3. Fit a logistic regression model on your training data using sklearn's
   linear_model.LogisticRegression class. Use fare and pclass as the
   predictors.
4. Use the model's .predict method. What is the output?
5. Use the model's .predict_proba method. What is the output? Why do you
   think it is shaped like this?
6. Evaluate your model's predictions on the test data set. How accurate
   is the mode? How does changing the threshold affect this?

In [2]:
df = acquire.get_titanic_data()
df.head()

,passenger_id,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,deck,embark_town,alone
0,0,0,3,male,22.0,1,0,7.2500,S,Third,None,Southampton,0
1,1,1,1,female,38.0,1,0,71.2833,C,First,C,Cherbourg,0
2,2,1,3,female,26.0,0,0,7.9250,S,Third,None,Southampton,1
3,3,1,1,female,35.0,1,0,53.1000,S,First,C,Southampton,0
4,4,0,3,male,35.0,0,0,8.0500,S,Third,None,Southampton,1

In [3]:
train, test = split_scale.split_my_data(df, .8)
train.head()

,passenger_id,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,deck,embark_town,alone
331,331,0,1,male,45.5,0,0,28.5000,S,First,C,Southampton,1
733,733,0,2,male,23.0,0,0,13.0000,S,Second,None,Southampton,1
382,382,0,3,male,32.0,0,0,7.9250,S,Third,None,Southampton,1
704,704,0,3,male,26.0,1,0,7.8542,S,Third,None,Southampton,0
813,813,0,3,female,6.0,4,2,31.2750,S,Third,None,Southampton,0

In [4]:
X_train = train[['pclass','fare']]
y_train = train[['survived']]

In [5]:
logit = LogisticRegression(random_state = 43)
logit.fit(X_train, y_train)

/usr/local/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
/usr/local/anaconda3/lib/python3.7/site-packages/sklearn/utils/validation.py:724: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=43, solver='warn', tol=0.0001, verbose=0,
                   warm_start=False)

In [6]:
print('Coefficient: \n', logit.coef_)
print('Intercept: \n', logit.intercept_)

Coefficient:
 [[-0.61900871  0.00550313]]
Intercept:
 [0.7251542]

In [7]:
y_pred = logit.predict(X_train)
y_pred_prob = logit.predict_proba(X_train)

In [8]:
print('Accuracy of Logistic Regression classifier on training '\
      'set: {:.2f}'.format(logit.score(X_train, y_train)))

Accuracy of Logistic Regression classifier on training set: 0.67

In [9]:
y_pred_prob

array([[0.43463018, 0.56536982],
       [0.60857413, 0.39142587],
       [0.74805386, 0.25194614],
       ...,
       [0.74158677, 0.25841323],
       [0.31723226, 0.68276774],
       [0.37017449, 0.62982551]])

In [10]:
X_test = test[['pclass','fare']]
y_test = test[['survived']]

In [11]:
y_pred_test = logit.predict(X_test)
y_pred_prob_test = logit.predict_proba(X_test)

In [12]:
print('Accuracy of Logistic Regression classifier on test '\
      'set: {:.2f}'.format(logit.score(X_test, y_test)))

Accuracy of Logistic Regression classifier on test set: 0.70